#three_D_model {
    height: 47vh;
    border-radius: 5px;
    width: 85%;
    /* border: 1px solid red; */

}




@media only screen and (min-width: 600px) {

    #three_D_model {
        height: 65vh;

    }
}